.container{
    width: 600px;
    margin: 0 auto;
  }
  h2 {
    font-size: 24px; /* Tamaño del encabezado */
    margin-bottom: 20px; /* Espacio inferior */
    color: #333; /* Color del texto */
  }
  
  /* Estilo para los enlaces */
  a {
    font-size: 14px; /* Tamaño de fuente */
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
  }
  
  a:hover {
    text-decoration: underline; /* Subrayado en hover */
  }
  
  /* Estilos para los grupos de formulario */
  .form-group {
    margin-bottom: 16px; /* Espacio inferior entre campos */
  }
  
  /* Estilos para las etiquetas de los campos */
  label {
    display: block; /* Hacer que las etiquetas ocupen todo el ancho */
    margin-bottom: 8px; /* Espacio inferior */
    font-weight: 600; /* Negrita */
    color: #555; /* Color de la etiqueta */
  }
  
  /* Estilos para los inputs y textarea */
  input[type="text"],
  input[type="datetime-local"],
  input[type="number"],
  input[type="tel"],
  input[type="file"],
  input[type="date"],
  input[type="email"],
  textarea,
  select {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    transition: border-color 0.3s; /* Transición suave para el borde */
  }
  
  input[type="text"]:focus,
  input[type="datetime-local"]:focus,
  input[type="number"]:focus,
  textarea:focus,
  select:focus {
    border-color: #007bff; /* Cambio de color del borde al enfocar */
    outline: none; /* Sin borde de enfoque */
  }
  
  /* Estilos para el botón */
  button[type="submit"] {
    padding: 10px 15px; /* Espaciado interno */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo puntero */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s; /* Transición suave para el fondo */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Color más oscuro al hacer hover */
  }
  
  /* Estilos para el campo de archivo */
  input[type="file"] {
    margin-top: 8px; /* Espacio superior */
  }